.contact-form {
    margin-top: 44px;
    padding: 40px 30px;

    background-color: $accent-color;
    border-radius: 2px;

    @include mq('tablet') {
        margin-top: 90px;
        padding: 90px 70px 80px;
    }

}


.contact-form__title {
    margin-bottom: 5px;

    font-family: "Al Veshion";
    @extend %mobile-font-heading-3;

    @include mq('tablet') {
        margin-bottom: 36px;
        font-size: 36px;
        line-height: 1.333;
    }
}

.contact-form__fields {
    margin-bottom: 28px;

    @include mq('tablet') {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-wrap: wrap;
        column-gap: 35px;
    }


}

.contact-form__field {
    padding-top: 28px;
    padding-bottom: 16px;
    border-bottom: 1px solid $secondary-background-color;
    border-radius: 2px;

    @include mq('tablet') {
        width: 316px;
        border-color: rgba(255, 255, 255, 0.5);
    }
}

.contact-form__label {
    position: relative;
    display: block;
    width: 100%;
}

.contact-form__input {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.214;
    color: $primary-text-color;

    @include mq('tablet') {
        font-size: 16px;
        line-height: 1.188;
    }
}

.contact-form__input::placeholder {
    color: $primary-text-color;
}


.contact-form__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    stroke: $primary-background-color;
    fill: none;
}

.contact-form__flag-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
}

.contact-form__select-icon {
    margin-left: 7px;
    fill: #000000;

    @include mq('tablet') {
        margin-left: 6px;
    }
}

.contact-form__tel {
    padding-left: 55px;
}

.contact-form__submit-wrapper {

    @include mq('tablet') {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 23px;
        row-gap: 30px;

    }
}

.contact-form__submit {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;

    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 1.385;
    font-weight: 700;

    border-radius: 2px;
    background-color: $primary-background-color;

    @include default-transition(background-color);

    &:hover {
        background-color: rgba(27, 27, 27, 0.6);
    }

    @include mq('tablet') {
        padding-top: 24px;
        padding-bottom: 24px;
        width: 239px;
        font-size: 16px;
        line-height: 1.25;
    }


}


.contact-form__accepting-text {
    display: none;
    font-family: Inter, sans-serif;

    @include mq('tablet') {
        display: block;
        width: 414px;


        font-size: 13px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.5);
    }

}