-
    var list = [
        {
            id: 1,
            img: "./assets/images/events/video-1@1x.jpg",
            img_retina: "./assets/images/events/video-1@2x.jpg",
            title: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },
        {
            id: 3,
            img: "./assets/images/events/video-2@1x.jpg",
            img_retina: "./assets/images/events/video-2@2x.jpg",
            title: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },
        {
            id: 4,
            img: "./assets/images/events/video-1@1x.jpg",
            img_retina: "./assets/images/events/video-1@2x.jpg",
            title: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },

    ];
block events-swiper 