section
    .container
        .events
            h2.section-title.events__title Iconik latest events
            include swiper
            a(href="#membership").link.button.button--accent.events__cta Choose a plan