extends ../data/event-list.pug 

block events-swiper 
    .swiper.events-swiper
        .swiper-wrapper.events-swiper__wrapper
            each item in list
                .swiper-slide.events-swiper__item
                    .link.link--pointer.event-card
                        img(srcset= "./assets/images/events/" + item.img + " 1x," + "./assets/images/events/" + item.img_retina + " 2x" src= "./assets/images/events/" + item.img alt=item.title).event-card__img
                        .event-card__title-wrapper
                            h3.event-card__title.js-trim-text #{item.title}
                        button(type="button").button.play-btn.event-card__play-btn 
                            svg.icon.event-card__play-icon
                                use(href="./assets/images/icons.svg#play")


