extends ../data/event-list.pug 

block events-swiper 
    - 
        var imageBasePath = "./assets/images/events/";

    .swiper.events-swiper
        .swiper-wrapper.events-swiper__wrapper
            each item in list
                .swiper-slide.events-swiper__item
                    .link.link--pointer.event-card
                        picture.event-card__img
                            source(srcset= imageBasePath + item.mob_1x + " 1x," + imageBasePath + item.mob_2x + " 2x" media="(max-width: 767.98px)" type="image/jpeg")
                            source(srcset= imageBasePath +  item.desktop_1x + " 1x," + imageBasePath + item.desktop_2x + " 2x" media="(min-width: 768px)" type="image/jpeg")
                            img(src= imageBasePath + item.mob_1x alt=item.alt loading="lazy").event-card__img

                        .event-card__title-wrapper
                            h3.event-card__title.js-trim-text #{item.title}
                        button(type="button" aria-label="Play video").button.play-btn.event-card__play-btn 
                            svg.icon.event-card__play-icon
                                use(href="./assets/images/icons.svg#play")


