// normalize
@import '~node_modules/modern-normalize/modern-normalize.css';

// utils
@import './utils/index';

// base styles
@import './base';

// common components
@import './common/index';

// components
@import './components/index';


.marker {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    cursor: pointer;
    background-color: tomato;
}