.services {
    padding-top: 60px;

    @include mq('tablet') {
        padding-top: 180px;
    }
}

.services__section-title {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 40px;
    }
}

.services__swiper-wrapper {
    position: relative;
    width: 100%;
}