.services-swiper {
    width: 100%;
}

.services-swiper__wrapper {
    column-gap: 10px;

    @include mq('tablet') {
        column-gap: 20px;
    }
}

.swiper-slide.services-swiper__item {
    width: 265px;

    @include mq('tablet') {
        width: 360px;
    }
}

.services-swiper__prev,
.services-swiper__next {
    --swiper-navigation-top-offset: 35%;
    --swiper-navigation-sides-offset: -20px;
}