- 
    var list = [
        {
            id:1,
            name: "Home",
            href: "/"
        },
        {
            id:2,
            name: "Services",
            href: "#services"
        },
        {
            id:3,
            name: "About",
            href: "#about"
        },
        {
            id:4,
            name: "Gallery",
            href: "#gallery"
        },
        {
            id:5,
            name: "Contacts",
            href: "#contacts"
        },
    ] 


nav.header-nav     
    ul.header-nav__list
        each item in list   
            li.header-nav__item
                a(href=item.href).link.header-nav__link #{item.name} 

