extends nav-list-links.pug 

block header-nav-list
    nav.header-nav     
        ul.header-nav__list
            each item in list   
                li.header-nav__item
                    a(href=item.href).link.link--hovered.header-nav__link #{item.name} 

