.container.container--header    
    .header-box 
        .inner-container  
            header.header 
                include ../logo
                .header__menu.js-menu
                    button(type="button").button.header__close-btn.js-close-menu
                        svg(width="20" height="20").icon
                            use(href="./assets/images/icons.svg#cross")

                    include header-nav 

                    a(href="#request-form").link.button.button--accent.consultation-btn#js-cta-button Get a consultation

                    include lang-btn

                button(type="button").button.burger-btn.js-open-menu
                    svg(width="24" height="11").icon
                        use(href="./assets/images/icons.svg#menu-burger")
