.container.header__container    
    .header-box 
        .inner-container  
            header.header 
                include logo
                //- include header-nav
                //- a(href="").button.consultation-btn Get a consultation
                button(type="button").button.burger-btn 
                    svg(width="24" height="11").icon
                        use(href="./assets/images/icons.svg#menu-burger")
