.header__container {
    background-color: transparent;

    @include mq('mobile-only') {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 0;
        padding-right: 0;
    }
}

.header {
    height: 50px;
    @extend %flex-between;

    @include mq('tablet') {
        height: 100px;
    }
}

.header__menu {

    display: flex;
    height: 100%;
    align-items: center;
    // display: none;

    @include mq('not-laptop') {
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #555A6C;
    }




}