.header__container {
    background-color: transparent;

    @include mq('mobile-only') {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 0;
        padding-right: 0;
    }
}

.header {
    height: 50px;
    @extend %flex-between;

    @include mq('tablet') {
        height: 100px;
    }
}

.header__menu {
    display: none;

    @media screen and (min-width:1200px) {
        display: flex;
        height: 100%;
        align-items: center;
    }
}