.header-nav {

    @include mq('not-laptop') {
        width: 100%;
        margin-bottom: 40px;
    }

    @include mq('laptop') {
        margin-right: 69px;
    }
}

.header-nav__list {
    @extend %flex-between;

    @include mq('not-laptop') {
        flex-direction: column;
        width: 100%;
    }
}

.header-nav__item {


    @include mq('not-laptop') {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    }

    @include mq('laptop') {
        @include set-items-margin(right, 45px);
    }
}

.header-nav__link {
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: 15px;
    line-height: 1.467;
    font-weight: 700;
    text-transform: uppercase;
}