.container--header {
    background-color: transparent;

    @include mq('mobile-only') {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('tablet') {
        height: 100px;
    }
}

.header__menu {
    position: relative;
    display: flex;

    height: 100%;
    align-items: center;

    @include mq('not-laptop') {
        overflow-y: auto;
        padding: 50px 20px;
        flex-direction: column;

        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 480px;
        height: 100%;
        transform: translateX(100%);
        @include default-transition(transform);

        background-color: #555A6C;
    }

    &.is-open {
        display: flex;
        transform: translateX(0);

        @include mq('mobile-only') {
            right: 50%;
            transform: translateX(50%);
        }

    }

}

.header__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    @include default-transition(color);

    @include mq('laptop') {
        display: none;
    }


    &:hover {
        color: $accent-color;
    }


}