footer.footer
    .container.footer__container
        .footer__meta.footer-info 
            include logo
            .footer__info
                .footer__nav 
                .footer__contacts

        .footer__map.map

