.container.hero-wrapper 
    include header/index.pug
    include hero 
    button(type="button").button.hero-wrapper__audio-btn.js-volume-btn
        svg(width="36" height="28").icon.hero-wrapper__audio-icon
            use(href="./assets/images/icons.svg#audio") 
