section
    .container.container--hero  
        .inner-container 
            .hero 
                h1(hidden) Event atelier Iconik
                p.hero__text 
                    | LIFE IS SHORT, TREAT YOURSELF
                .hero__play-wrapper     
                    button(type="button").button.play-btn.hero__play-btn
                        svg.icon.hero__play-icon
                            use(href="./assets/images/icons.svg#play")
                    span.hero__play-text Discover for a 30 seconds
