.container.hero__container  
    .inner-container    
        //- .hero Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, eum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quo sed quasi laborum animi temporibus voluptatum cumque eius recusandae id. Soluta, id repellat. Nemo illo quod quasi optio id deserunt minus, repudiandae inventore, culpa illum praesentium numquam temporibus quaerat quo fugit repellendus totam sit eaque. Iste laborum ab repellendus consectetur?