doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="DNS-prefetch" href="//fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //- link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;600;700&display=swap" rel="stylesheet" media="print" onload="this.media='all'")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;600;700&display=swap" rel="stylesheet")

        //- link(rel="stylesheet" href="./sass/main.scss" media="print" onload="this.media='all'")
        link(rel="stylesheet" href="./sass/main.scss" )
        //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" media="print" onload="this.media='all'")
        //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")

        link(rel="icon" href="../favicon.ico")
        link(rel="icon" href="./assets/images/favicon/favicon.svg" type="image/svg+xml")
        link(rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="./assets/images/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="../manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="./assets/images/favicon/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")

        link(rel="preload" href="./assets/images/hero/hero_480@1x.jpg" as="image")


        title Iconik

        style(type="text/css").
            @font-face {
                font-family: "Al Veshion";
                src: local("Al Veshion Regular"), local("Al-Veshion-Regular"),
                    url("./assets/fonts/al_veshion/Al_Veshion.woff2") format("woff2"),
                    url("./assets/fonts/al_veshion/Al_Veshion.woff") format("woff"),
                    url("./assets/fonts/al_veshion/Al_Veshion.ttf") format("truetype");
                font-weight: 400;
                font-style: normal;
                font-display: swap;
            }

    body 
        block content
        script(src="./js/index.js" type="module")



//- @font-face {
//-   font-family: "Al Veshion";
//-   src: local("Al Veshion Regular"), local("Al-Veshion-Regular"),
//-     url("../assets/fonts/al_veshion/Al_Veshion.woff2") format("woff2"),
//-     url("../assets/fonts/al_veshion/Al_Veshion.woff") format("woff"),
//-     url("../assets/fonts/al_veshion/Al_Veshion.ttf") format("truetype");
//-   font-weight: 400;
//-   font-style: normal;
//-   font-display: swap;
//- }