a(href="/" aria-label="Main page link").logo
    svg(width="82" height="23").icon.logo__name-icon
        use(href="./assets/images/icons.svg#logo")
    svg(width="65" height="8").icon.logo__text-icon
        use(href="./assets/images/icons.svg#logo-text")