block vars 
    - var list = [{label: "All services"},{label: "DINE"},{label: "RIDE"},{label: "DISCOVER"},{label: "RELAX"},{label: "EXPERIENCE"}]

section.section 
    .container
        .services 
            h1.section-title
            ul.services-nav  
                each item in list 
                    li.services-nav__item
                        label.services-nav__label #{item.label}
                            input(type="radio" name="services-nav").services-nav__button
