// colors
$primary-background-color: #1B1B1B;
$secondary-background-color: #FFFFFF;
$footer-background-color: #2D2D2E;
$accent-color: #8B32FE;
$primary-text-color: #FFFFFF;
$secondary-text-color: #615D6D;

// breakpoints
$mobile-viewport-width: 320px;
$tablet-viewport-width: 768px;
$desktop-viewport-width: 1920px;