extends offer-list.pug 

block membership-list
    ul.membership__list
        each item in list
            li.membership__item
                a.link.offer-card
                    h3.offer-card__wrapper #{item.title}
                    ul.article-list

                        each article in item.mainItems
                            li.article-list__item.article
                                svg.icon.article__icon
                                    use(href="./assets/images/icons.svg#checkmark")
                                p.article__text #{article}

                        each article in item.extraItems
                            li.article-list__item.article
                                svg.icon.article__icon
                                    use(href="./assets/images/icons.svg#checkmark")
                                p.article__text #{article}

