//- -
//-     const servicesList = [
//-     {
//-         id: 1,
//-         img: "",
//-         title: "RENT A FERRARI F8 WITH EXCLUSIVE PRICING FROM UPTOWN LUXURY CARS",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 2,
//-         img: "",
//-         title: "BRUNCH WITH POOL ACCESS AT ROOFTOP, THE BURJ CLUB",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 3,
//-         img: "",
//-         title: "LIVE THE BILLIONAIRE LIFE FOR A DAY IN DUBAI",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 4,
//-         img: "",
//-         title: "FRIDAY BRUNCH AT FRANGIPANI ON ZAYA NURAI ISLAND, ABU DHABI",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 5,
//-         img: "",
//-         title: "Flyboard in Dubai marina",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 6,
//-         img: "",
//-         title: "RENT A FERRARI F8 WITH EXCLUSIVE PRICING FROM UPTOWN LUXURY CARS",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 7,
//-         img: "",
//-         title: "BRUNCH WITH POOL ACCESS AT ROOFTOP, THE BURJ CLUB",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 8,
//-         img: "",
//-         title: "LIVE THE BILLIONAIRE LIFE FOR A DAY IN DUBAI",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 9,
//-         img: "",
//-         title: "FRIDAY BRUNCH AT FRANGIPANI ON ZAYA NURAI ISLAND, ABU DHABI",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     {
//-         id: 10,
//-         img: "",
//-         title: "Flyboard in Dubai marina",
//-         currentPrice: "USD 2,000.00",
//-         oldPrice: "USD 4,000.00",
//-         time: "1h",
//-     },
//-     ];

