.social {
    padding-bottom: 50px;

    @include mq('tablet') {
        padding-bottom: 80px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq('laptop') {
        padding-bottom: 120px;
        max-width: fit-content;
        display: flex;
        column-gap: 115px;
    }

    @include mq('desktop') {
        padding-bottom: 180px;
    }

}

.social__meta {


    @include mq('laptop') {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.social__heading {
    margin-bottom: 30px;

    @include mq('tablet') {
        margin-bottom: 60px;
    }

    @include mq('laptop') {
        margin-bottom: 0;
    }
}

.social__section-title {
    margin-bottom: 20px;
    text-align: left;

    @include mq('tablet') {
        margin-bottom: 30px;
    }
}

.social__text {
    @extend %mobile-font-main-text;


    @include mq('tablet') {
        font-size: 16px;
        line-height: 1.5;
    }
}

.social__list {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include mq('tablet') {
        column-gap: 30px;
    }
}

.social__item {
    flex-basis: calc((100% - 20px) / 3);

    @include mq('tablet') {
        flex-basis: calc((100% - 60px) / 3);
    }
}


.social__info {
    margin-top: 40px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;

    background-color: $footer-background-color;

    @include mq('tablet') {
        margin-top: 60px;
        width: 470px;
    }

    @include mq('laptop') {
        margin-top: 0;
    }


}