.social-ref {
    margin-left: 10px;

    font-size: 11px;

    line-height: 1.45;

    @include mq('tablet') {
        margin-left: 16px;

        font-size: 16px;
        line-height: 1.625;
    }
}

.social-ref__title {
    font-weight: 600;

    @include mq('tablet') {}
}

.social-ref__text {
    color: rgba(193, 203, 224, 0.25);

    @include mq('tablet') {
        color: rgba(255, 255, 255, 0.25);
        font-size: 14px;
        line-height: 1.857;
    }
}