.social {
    @include mq('tablet') {
        display: flex;
        align-items: center;

    }
}

.social__meta {}

.social__heading {
    margin-bottom: 30px;

    @include mq('tablet') {
        margin-bottom: 0;
    }
}

.social__section-title {
    margin-bottom: 20px;
    text-align: left;

    @include mq('tablet') {
        margin-bottom: 30px;
    }
}

.social__text {
    @extend %mobile-font-main-text;


    @include mq('tablet') {
        font-size: 16px;
        line-height: 1.5;
    }
}

.social__list {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.social__item {
    flex-basis: calc((100% - 20px) / 3);
}

.social__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 14px;
    padding-bottom: 14px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;

    border: 1px solid $secondary-background-color;
    border-radius: 2px;

    @include mq('tablet') {
        padding-top: 29px;
        padding-bottom: 29px;
        font-size: 15px;
        line-height: 1.47;
    }

    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }

    &:hover .social__link-icon {
        stroke: $accent-color;
    }

}

.social__link-icon {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 4px;
    top: 4px;

    fill: none;
    stroke: $secondary-background-color;

    @include mq('tablet') {
        width: 16px;
        height: 16px;
        right: 8px;
        top: 8px;
    }
}

.social__info {
    margin-top: 40px;
    width: 290px;


    @include mq('tablet') {
        margin-top: 0;
    }
}