.social-article {
    padding: 18px;

    @include mq('tablet') {
        padding: 28px;
    }
}

.social-article__head {
    display: flex;
    align-items: center;
}

.social-article__icon-wrapper {
    @extend %flex-center;
    width: 30px;
    height: 30px;

    background-color: $accent-color;
    border-radius: 50%;
    color: #000000;

    @include mq('tablet') {
        width: 50px;
        height: 50px;
    }
}

.social-article__info-icon {
    width: 4px;
    height: 18px;

    @include mq('tablet') {
        width: 7px;
        height: 30px;
    }
}

.social-article__ref {}

.social-article__btn {
    margin-left: auto;
    width: 30px;
    height: 30px;



    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 1.03;

    border-radius: 2px;
    background-color: $primary-background-color;

    @include default-transition(background-color);

    @include mq('mobile-only') {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include mq('tablet') {
        padding: 15px 30px;
        width: auto;
        height: auto;

        font-size: 13px;
        font-weight: 600;
        line-height: 1.538;
    }

    &:hover {
        background-color: $accent-color;
    }

}

.social-article__btn::after {
    @include mq('mobile-only') {
        content: '+';
    }
}

.social-article__btn-text {
    display: none;

    @include mq('tablet') {
        display: inline;
    }
}

.social-article__gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 3px;

    @include mq('tablet') {
        column-gap: 5px;
        row-gap: 5px;
    }

}

.social-article__item {
    height: 82px;
    overflow: hidden;

    flex-basis: calc((100% - 6px) / 3);

    // background-color: green;
    background-color: $footer-background-color;

    @include mq('tablet') {
        height: 133px;
        flex-basis: calc((100% - 10px) / 3);
    }
}

.social-article__img {
    display: block;
    object-fit: cover;
}

.social-article__refresh-btn {
    font-family: Inter, sans-serif;
}

.social-article__refresh-icon {
    width: 10px;
    height: 10px;

    @include mq('tablet') {
        width: 32px;
        height: 32px;
    }
}