address.footer-contacts 

    span.footer-contacts__label PHONE
    a(href="tel:+971552308085").link.link--hovered.footer-contacts__value +971 55 230 8085

    span.footer-contacts__label EMAIL
    a(href="mailto:mailexample@gmail.com").link.link--hovered.footer-contacts__value mailexample@gmail.com

    a(href="#request-form").link.button.button--accent.footer-contacts__cta Contact Us