footer.footer
    .footer__main 
        .footer__meta
            .footer__logo-wrapper
                include ../logo
            .footer__info
                include footer-nav 
                include footer-contacts 

        #js-footer-map.footer__map.map
            a(href="/").social-button-link.link.button.footer__map-link
                | OPEN IN GOOGLE MAPS
                svg.icon.social-button-link__icon
                    use(href="./assets/images/icons.svg#angle-arrow")

    .footer__sub
        p.footer__copyright &copy; 2023 All rights reserved.
        span.footer__links 
            a(href="/").link.footer__privacy Privacy policy
            |  &nbsp; &nbsp; &nbsp; &nbsp; / &nbsp; &nbsp; &nbsp; &nbsp;
            a(href="/").link.footer__club-rules Club rules