footer.footer
    .container.footer__container
        .footer__meta.footer-info 
            include ../logo
            .footer__info
                include footer-nav 
                include footer-contacts 

        .footer__map.map

