-
    var list = [
        {
            id:1,
            iconSpriteId: "laptop",
            title: "You leave a request online",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
        },
        {
            id:2,
            iconSpriteId: "wireless-connect",
            title: "Consultation with the manager",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
        },
        {
            id:3,
            iconSpriteId: "hands",
            title: "Presentation or discussion of conditions remotely",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
            id:4,
            iconSpriteId: "sheet-pen",
            title: "We conclude a contract",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
        },
        {
            id:5,
            iconSpriteId: "city",
            title: "You enjoy all the benefits of membership",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
        },
    ];
block features-swiper