section#features 
    .container  
        .inner-container
            .features
                h2.section-title.features__section-title How to become a part of iconik?
                include swiper