extends ../data/feature-list.pug

block features-swiper
    -
        var count = 1;

    .features__swiper-wrapper
        .swiper.features-swiper
            .swiper-wrapper.features-swiper__wrapper
                each item in list 
                    .swiper-slide.features-swiper__item.js-features-item 
                        .feature-card   
                            svg.icon.feature-card__icon
                                use(href="./assets/images/icons.svg#" + item.iconSpriteId)
                            h3.feature-card__title #{count++ + "."}  &nbsp; #{item.title} 
                            p.feature-card__text #{item.text}   



    .features__swiper-btn-wrapper
        button(type="button").button.swiper-button-prev.swiper-prev.features__swiper-prev.features__prev.js-features-prev
            svg.icon
                use(href="./assets/images/icons.svg#prev-arrow") 

        .features__swiper-pagination.js-progress-paginator

        button(type="button").button.swiper-button-next.swiper-next.features__swiper-next.features__next.js-features-next
            svg.icon
                use(href="./assets/images/icons.svg#next-arrow")      



