extends ../data/feature-list.pug

block features-swiper
    -
        var count = 1;

    .features__swiper-wrapper
        .swiper.features-swiper
            .swiper-wrapper.features-swiper__wrapper
                each item in list 
                    .swiper-slide.features-swiper__item.js-features-item 
                        .feature-card   
                            svg.icon.feature-card__icon
                                use(href="./assets/images/icons.svg#" + item.iconSpriteId)
                            h3.feature-card__title #{count++ + "."}  &nbsp; #{item.title} 
                            p.feature-card__text #{item.text}   



            //- .swiper-pagination.features-swiper__pagination
    .features-swiper__btn-wrapper
        button(type="button").button.swiper-button-prev.swiper__prev.features-swiper__prev.features__prev.js-features-prev
            svg.icon
                use(href="./assets/images/icons.svg#prev-arrow") 

        .features-swiper__pagination.js-progress-paginator

        button(type="button").button.swiper-button-next.swiper__next.features-swiper__next.features__next.js-features-next
            svg.icon
                use(href="./assets/images/icons.svg#next-arrow")      

        //- button(type="button").button.features-swiper__prev.features__prev.js-features-prev
        //-     svg.icon
        //-         use(href="./assets/images/icons.svg#prev-arrow") 

        //- button(type="button").button.features-swiper__next.features__next.js-features-next
        //-     svg.icon
        //-         use(href="./assets/images/icons.svg#next-arrow")  



