.contacts-swiper {
    // position: relative;
    width: 100%;
}

.contacts-swiper__wrapper {
    column-gap: 10px;

    @include mq('tablet') {
        column-gap: 30px;
    }
}

.swiper-slide.contacts-swiper__item {
    width: 265px;

    @include mq('tablet') {
        width: 370px;
    }
}



// .contacts-swiper__prev,
// .contacts-swiper__next {
//     @include mq('mobile-only') {
//         display: none;
//     }

//     position: absolute;

//     z-index: 999;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     border: 1.5px solid $primary-text-color;
//     @include default-transition(background-color);

//     &>.icon {
//         stroke: $primary-text-color;
//     }
// }

// .contacts-swiper__prev:hover,
// .contacts-swiper__next:hover {
//     background-color: $primary-text-color;

//     &>.icon {
//         stroke: #000000;
//     }
// }

// .contacts-swiper__prev {
//     top: 50%;
//     left: -10px;
// }

// .contacts-swiper__next {
//     top: 50%;
//     left: 50%;
// }