.contacts {
    padding-bottom: 60px;

    @include mq('tablet') {
        padding-bottom: 180px;
    }
}

.contacts__section-title {
    margin-bottom: 40px;

    @include mq('tablet') {
        margin-bottom: 50px;
    }

    @include mq('desktop') {
        margin-bottom: 78px;
    }
}

.contacts__swiper-wrapper {
    position: relative;
    width: 100%;
}

.contacts__swiper-prev,
.contacts__swiper-next {
    --swiper-navigation-top-offset: 37%;
    --swiper-navigation-sides-offset: -4%;
}