extends ../data/gallery-image-list.pug

block gallery-image-list
    - 
        var imageBasePath = "./assets/images/gallery/";

    section 
        .container.gallery__container
            .gallery 
                h2.section-title.gallery__title iconik lifestyle
                .gallery__grid
                    .gallery__col.gallery__col--outside 
                        each item in outsideList 
                            .gallery__item 
                                picture.gallery__img
                                    source(srcset= imageBasePath + item.mob_1x + " 1x," + imageBasePath + item.mob_2x + " 2x" media="(max-width: 767.98px)" type="image/jpeg")
                                    source(srcset= imageBasePath +  item.desktop_1x + " 1x," + imageBasePath + item.desktop_2x + " 2x" media="(min-width: 768px)" type="image/jpeg")
                                    img(src= imageBasePath + item.mob_1x alt=item.alt).gallery__img

                    .gallery__col.gallery__col--inside 
                        each item in insideList 
                            .gallery__item 
                                picture.gallery__img
                                    source(srcset= imageBasePath + item.mob_1x + " 1x," + imageBasePath + item.mob_2x + " 2x" media="(max-width: 767.98px)" type="image/jpeg")
                                    source(srcset= imageBasePath +  item.desktop_1x + " 1x," + imageBasePath + item.desktop_2x + " 2x" media="(min-width: 768px)" type="image/jpeg")
                                    img(src= imageBasePath + item.mob_1x alt=item.alt).gallery__img

