section 
    .container.gallery__container
        .gallery 
            h2.section-title.gallery__title iconik lifestyle
            .gallery__grid



            //- .gallery__grid.js-gallery-grid
            //- .grid-sizer
            //- .grid-item.gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-1-desktop@1x.jpg").gallery__img
            //- .grid-item.gallery__item.gallery__item--long
            //-     img(src="./assets/images/gallery/gallery-2-desktop@1x.jpg").gallery__img
            //- .grid-item.gallery__item.gallery__item--long
            //-     img(src="./assets/images/gallery/gallery-3-desktop@1x.jpg").gallery__img
            //- .grid-item.gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-4-desktop@1x.jpg").gallery__img

            //- .gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-5-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--long
            //-     img(src="./assets/images/gallery/gallery-6-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--long
            //-     img(src="./assets/images/gallery/gallery-7-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-8-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-9-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--long
            //-     img(src="./assets/images/gallery/gallery-10-desktop@1x.jpg").gallery__img
            //- .gallery__item.gallery__item--short
            //-     img(src="./assets/images/gallery/gallery-11-desktop@1x.jpg").gallery__img


            //- .gallery__col
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-1-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-5-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-9-desktop@1x.jpg")

            //- .gallery__col
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-2-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-6-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-10-desktop@1x.jpg")

            //- .gallery__col     
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-3-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-7-desktop@1x.jpg")

            //- .gallery__col 
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-4-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-8-desktop@1x.jpg")
            //-     .gallery__item
            //-         img(src="./assets/images/gallery/gallery-11-desktop@1x.jpg")