.features-swiper {
    width: 100%;

}

.features-swiper__wrapper {

    @include mq('tablet') {
        column-gap: calc((100% - 218px * 5) / 4);
    }
}

.swiper-slide.features-swiper__item {

    @include mq('tablet') {
        flex-basis: 218px;

    }
}



.features-swiper__dot {
    position: absolute;
    top: 0;

    transform: translateX(-50%);


    width: 4px;
    height: 4px;
    border-radius: 50%;

    background-color: $secondary-background-color;
}

.features-swiper__line {
    position: absolute;
    top: 0;

    height: 4px;

    background-color: $secondary-background-color;
}