.features {
    padding-top: 60px;
    padding-bottom: 125px;

    @include mq('tablet') {
        padding-top: 180px;
        padding-bottom: 180px;
    }
}

.features__section-title {
    margin-bottom: 30px;

    @include mq('tablet') {
        margin-bottom: 60px;
    }
}

.features__swiper-wrapper {
    width: 100%;
}

.features__swiper-btn-wrapper {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('laptop') {
        display: none;
    }

}

.swiper-button-prev.features__swiper-prev,
.swiper-button-next.features__swiper-next {

    --swiper-navigation-size: 0;


    position: static;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 50px;
    height: 50px;



    @include mq('tablet') {
        width: 70px;
        height: 70px;
    }

    @include mq('laptop') {
        display: none;
    }


    &>.icon {

        width: 18px;
        height: 18px;


        @include mq('tablet') {
            width: 24px;
            height: 24px;
        }
    }
}


.features__swiper-pagination {
    height: 4px;
    width: 100%;
    max-width: 80px;

    @include mq('tablet') {
        max-width: 200px;
    }

}