section 
    .container
        .inner-container
            .contacts 
                h2.section-title.contacts__section-title Iconik managers will provide you with the best experience
                include swiper
                include contact-form