-
    var list = [
        {
            id: 1,
            img: "manager-1@1x.jpg",            
            img_retina: "manager-1@2x.jpg",
            name: "Mahammed Naqvi",
            position: "Iconik lifestyle manager"
        },
        {
            id: 2,
            img: "manager-2@1x.jpg",            
            img_retina: "manager-2@2x.jpg",
            name: "Aliya Mir",
            position: "Iconik lifestyle manager"
        },
        {
            id: 3,
            img: "manager-3@1x.jpg",            
            img_retina: "manager-3@2x.jpg",
            name: "Unais el-Baccus",
            position: "Iconik lifestyle manager"
        },
        {
            id: 4,
            img: "manager-1@1x.jpg",            
            img_retina: "manager-1@2x.jpg",
            name: "Mahammed Naqvi",
            position: "Iconik lifestyle manager"
        },
        {
            id: 5,
            img: "manager-2@1x.jpg",            
            img_retina: "manager-2@2x.jpg",
            name: "Aliya Mir",
            position: "Iconik lifestyle manager"
        },
        {
            id: 6,
            img: "manager-3@1x.jpg",            
            img_retina: "manager-3@2x.jpg",
            name: "Unais el-Baccus",
            position: "Iconik lifestyle manager"
        }
    ];
block contacts-swiper