-
    var list = [
        {
            id: 1,
            //- img: "manager-1@1x.jpg",            
            //- img_retina: "manager-1@2x.jpg",
            mob_1x: "contact-1-mob@1x.jpg",
            mob_2x: "contact-1-mob@2x.jpg",
            desktop_1x: "contact-1-desktop@1x.jpg",
            desktop_2x: "contact-1-desktop@2x.jpg",
            name: "Mahammed Naqvi",
            position: "Iconik lifestyle manager"
        },
        {
            id: 2,
            //- img: "manager-2@1x.jpg",            
            //- img_retina: "manager-2@2x.jpg",
            mob_1x: "contact-2-mob@1x.jpg",
            mob_2x: "contact-2-mob@2x.jpg",
            desktop_1x: "contact-2-desktop@1x.jpg",
            desktop_2x: "contact-2-desktop@2x.jpg",
            name: "Aliya Mir",
            position: "Iconik lifestyle manager"
        },
        {
            id: 3,
            //- img: "manager-3@1x.jpg",            
            //- img_retina: "manager-3@2x.jpg",
            mob_1x: "contact-3-mob@1x.jpg",
            mob_2x: "contact-3-mob@2x.jpg",
            desktop_1x: "contact-3-desktop@1x.jpg",
            desktop_2x: "contact-3-desktop@2x.jpg",
            name: "Unais el-Baccus",
            position: "Iconik lifestyle manager"
        },
        {
            id: 4,
            //- img: "manager-1@1x.jpg",            
            //- img_retina: "manager-1@2x.jpg",
            mob_1x: "contact-1-mob@1x.jpg",
            mob_2x: "contact-1-mob@2x.jpg",
            desktop_1x: "contact-1-desktop@1x.jpg",
            desktop_2x: "contact-1-desktop@2x.jpg",
            name: "Mahammed Naqvi",
            position: "Iconik lifestyle manager"
        },
        {
            id: 5,
            //- img: "manager-2@1x.jpg",            
            //- img_retina: "manager-2@2x.jpg",
            mob_1x: "contact-2-mob@1x.jpg",
            mob_2x: "contact-2-mob@2x.jpg",
            desktop_1x: "contact-2-desktop@1x.jpg",
            desktop_2x: "contact-2-desktop@2x.jpg",
            name: "Aliya Mir",
            position: "Iconik lifestyle manager"
        },
        {
            id: 6,
            //- img: "manager-3@1x.jpg",            
            //- img_retina: "manager-3@2x.jpg",
            mob_1x: "contact-3-mob@1x.jpg",
            mob_2x: "contact-3-mob@2x.jpg",
            desktop_1x: "contact-3-desktop@1x.jpg",
            desktop_2x: "contact-3-desktop@2x.jpg",
            name: "Unais el-Baccus",
            position: "Iconik lifestyle manager"
        }
    ];
block contacts-swiper