-
    var list = [
        {
            id: 1,
            img: "video-1@1x.jpg",
            img_retina: "video-1@2x.jpg",
            mob_1x: "video-1-mob@1x.jpg",
            mob_2x: "video-1-mob@2x.jpg",
            desktop_1x: "video-1-desktop@1x.jpg",
            desktop_2x: "video-1-desktop@2x.jpg",
            alt: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },
        {
            id: 3,
            img: "video-2@1x.jpg",
            img_retina: "video-2@2x.jpg",
            mob_1x: "video-2-mob@1x.jpg",
            mob_2x: "video-2-mob@2x.jpg",
            desktop_1x: "video-2-desktop@1x.jpg",
            desktop_2x: "video-2-desktop@2x.jpg",
            alt: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },
        {
            id: 4,
            img: "video-1@1x.jpg",
            img_retina: "video-1@2x.jpg",
            mob_1x: "video-1-mob@1x.jpg",
            mob_2x: "video-1-mob@2x.jpg",
            desktop_1x: "video-1-desktop@1x.jpg",
            desktop_2x: "video-1-desktop@2x.jpg",
            alt: "Dubai Marina Yacht Tour with Barbecue Lunch - exclusive Yachts"
        },

    ];


block events-swiper 
