- 
    var langList = [
        {
            id:1,
            label: "Eng",
            value: "en"
        },
        {
            id:2,
            label: "Ua",
            value: "ua"
        },
        {
            id:3,
            label: "Ita",
            value: "it"
        },
        {
            id:4,
            label: "De",
            value: "de"
        },

    ] 
block lang-list