-
    var list = [
        {
            id: 1,
            title: "Basic",
            mainItems: [
                "Access to iconiK Members Experience Portal",
                "Access to iconiK Concierge services Complimentary ",
                "iKoins to spend on Dezerved platform (on a yearly basis) Complimentary iKoins to spend on iconiK ",                
            ],
            extraItems: [
                "Worldwide (on a yearly basis)",        
                "Complimentary VIP meet & greet services ",        
                "Complimentary airport pick up and drop off ",        
                "Access to iconiK Lifestyle services",    
            ],
            isVIP: false
        },
        {
            id: 2,
            title: "standard",
            mainItems: [
                "Access to iconiK Members Experience Portal",
                "Access to iconiK Concierge services Complimentary ",
                "iKoins to spend on Dezerved platform (on a yearly basis) Complimentary iKoins to spend on iconiK ",                
            ],
            extraItems: [
                "Worldwide (on a yearly basis)",        
                "Complimentary VIP meet & greet services ",        
                "Complimentary airport pick up and drop off ",        
                "Access to iconiK Lifestyle services",    
            ],
            isVIP: false
        },
        {
            id: 3,
            title: "individual",
            mainItems: [
                "Access to iconiK Members Experience Portal",
                "Access to iconiK Concierge services Complimentary ",
                "iKoins to spend on Dezerved platform (on a yearly basis) Complimentary iKoins to spend on iconiK ",                
            ],
            extraItems: [
                "Worldwide (on a yearly basis)",        
                "Complimentary VIP meet & greet services ",        
                "Complimentary airport pick up and drop off ",        
                "Access to iconiK Lifestyle services",    
            ],
            isVIP: false
        },
        {
            id: 4,
            title: "SUPER STAR",
            mainItems: [
                "Access to iconiK Members Experience Portal",
                "Access to iconiK Concierge services Complimentary ",
                "iKoins to spend on Dezerved platform (on a yearly basis) Complimentary iKoins to spend on iconiK ",                
            ],
            extraItems: [
                "Worldwide (on a yearly basis)",        
                "Complimentary VIP meet & greet services ",        
                "Complimentary airport pick up and drop off ",        
                "Access to iconiK Lifestyle services",    
            ],
            isVIP: true
        }
    ];
block membership-list