-
    var list = [
        {
            id: 1,
            //- img: "./assets/images/services/service-cover-rent-ferrari@1x.jpg",            
            //- img_retina: "./assets/images/services/service-cover-rent-ferrari@2x.jpg",
            mob_1x: "service-1-mob@1x.jpg",
            mob_2x: "service-1-mob@2x.jpg",
            desktop_1x: "service-1-desktop@1x.jpg",
            desktop_2x: "service-1-desktop@2x.jpg",
            alt: "RENT A FERRARI F8 WITH EXCLUSIVE PRICING FROM UPTOWN LUXURY CARS",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 2,
            //- img: "./assets/images/services/service-cover-brunch-with-pool@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-brunch-with-pool@2x.jpg",
            mob_1x: "service-2-mob@1x.jpg",
            mob_2x: "service-2-mob@2x.jpg",
            desktop_1x: "service-2-desktop@1x.jpg",
            desktop_2x: "service-2-desktop@2x.jpg",
            alt: "BRUNCH WITH POOL ACCESS AT ROOFTOP, THE BURJ CLUB",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 3,
            //- img: "./assets/images/services/service-cover-live-the-billionaire-life@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-live-the-billionaire-life@2x.jpg",
            mob_1x: "service-3-mob@1x.jpg",
            mob_2x: "service-3-mob@2x.jpg",
            desktop_1x: "service-3-desktop@1x.jpg",
            desktop_2x: "service-3-desktop@2x.jpg",
            alt: "LIVE THE BILLIONAIRE LIFE FOR A DAY IN DUBAI",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 4,
            //- img: "./assets/images/services/service-cover-friday-brunch@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-friday-brunch@2x.jpg",
            mob_1x: "service-4-mob@1x.jpg",
            mob_2x: "service-4-mob@2x.jpg",
            desktop_1x: "service-4-desktop@1x.jpg",
            desktop_2x: "service-4-desktop@2x.jpg",
            alt: "FRIDAY BRUNCH AT FRANGIPANI ON ZAYA NURAI ISLAND, ABU DHABI",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 5,
            //- img: "./assets/images/services/service-cover-flyboard@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-flyboard@2x.jpg",
            mob_1x: "service-5-mob@1x.jpg",
            mob_2x: "service-5-mob@2x.jpg",
            desktop_1x: "service-5-desktop@1x.jpg",
            desktop_2x: "service-5-desktop@2x.jpg",
            alt: "Flyboard in Dubai marina",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 6,
            //- img: "./assets/images/services/service-cover-rent-ferrari@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-rent-ferrari@2x.jpg",
            mob_1x: "service-1-mob@1x.jpg",
            mob_2x: "service-1-mob@2x.jpg",
            desktop_1x: "service-1-desktop@1x.jpg",
            desktop_2x: "service-1-desktop@2x.jpg",
            alt: "RENT A FERRARI F8 WITH EXCLUSIVE PRICING FROM UPTOWN LUXURY CARS",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 7,
            //- img: "./assets/images/services/service-cover-brunch-with-pool@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-brunch-with-pool@2x.jpg",
            mob_1x: "service-2-mob@1x.jpg",
            mob_2x: "service-2-mob@2x.jpg",
            desktop_1x: "service-2-desktop@1x.jpg",
            desktop_2x: "service-2-desktop@2x.jpg",
            alt: "BRUNCH WITH POOL ACCESS AT ROOFTOP, THE BURJ CLUB",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 8,
            //- img: "./assets/images/services/service-cover-live-the-billionaire-life@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-live-the-billionaire-life@2x.jpg",
            mob_1x: "service-3-mob@1x.jpg",
            mob_2x: "service-3-mob@2x.jpg",
            desktop_1x: "service-3-desktop@1x.jpg",
            desktop_2x: "service-3-desktop@2x.jpg",
            alt: "LIVE THE BILLIONAIRE LIFE FOR A DAY IN DUBAI",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 9,
            //- img: "./assets/images/services/service-cover-friday-brunch@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-friday-brunch@2x.jpg",
            mob_1x: "service-4-mob@1x.jpg",
            mob_2x: "service-4-mob@2x.jpg",
            desktop_1x: "service-4-desktop@1x.jpg",
            desktop_2x: "service-4-desktop@2x.jpg",
            alt: "FRIDAY BRUNCH AT FRANGIPANI ON ZAYA NURAI ISLAND, ABU DHABI",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
        {
            id: 10,
            //- img: "./assets/images/services/service-cover-flyboard@1x.jpg",
            //- img_retina: "./assets/images/services/service-cover-flyboard@2x.jpg",
            mob_1x: "service-5-mob@1x.jpg",
            mob_2x: "service-5-mob@2x.jpg",
            desktop_1x: "service-5-desktop@1x.jpg",
            desktop_2x: "service-5-desktop@2x.jpg",
            alt: "Flyboard in Dubai marina",
            currentPrice: "USD 2,000.00",
            oldPrice: "USD 4,000.00",
            time: "1h",
        },
    ];
block services-swiper