- 
    var list = [
        {
            id:"id-1",
            label: "All services"
        },
        {
            id:"id-2",
            label: "DINE"
        },
        {
            id:"id-3", 
            label: "RIDE"
        },
        {
            id:"id-4", 
            label: "DISCOVER"
        },
        {
            id:"id-5", 
            label: "RELAX"
        },
        {
            id:"id-6", 
            label: "EXPERIENCE"
        }
    ]
block services-nav-list