.footer {
    background-color: $footer-background-color;
}

.footer__logo-wrapper {
    display: flex;
    justify-content: center;

    @include mq('tablet') {
        justify-content: flex-start;
    }
}

.footer__main {

    @include mq('tablet') {
        display: flex;
        justify-content: flex-end;
        column-gap: 50px;
        height: 541px;
    }

    @include mq('laptop') {
        column-gap: 118px;
    }
}

.footer__meta {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 56px;



    @include mq('tablet') {
        padding-top: 120px;
        padding-right: 0;
        padding-left: 20px;
    }
}

.footer__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    @include mq('tablet') {
        column-gap: 60px;
    }

    @include mq('laptop') {
        column-gap: 130px;
    }
}

.footer__map {
    position: relative;
    width: 100%;
    height: 223px;

    @include mq('tablet') {
        width: 50%;
        height: 100%;
    }
}

.footer__map-link {
    width: 170px;


    position: absolute;
    z-index: 999;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);

    @include mq('tablet') {
        display: none;
    }

}


.footer__sub {
    padding-top: 18px;
    padding-bottom: 23px;
    font-size: 11px;
    line-height: 1.454;
    color: $primary-text-color;
    text-align: center;


    @include mq('tablet') {
        padding-top: 29px;
        padding-bottom: 29px;
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 1.467;
        color: $secondary-text-color;
    }
}

.footer__links {
    display: none;

    @include mq('tablet') {
        display: flex;
    }


}

.footer__links>.link {
    &:hover {
        color: $accent-color;
    }
}