section 
    .container
        .inner-container
            .social
                .social__meta
                    .social__heading
                        h2.section-title.social__section-title 
                            |  We are on 
                            br
                            | social media
                        p.social__text 
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    ul.social__list
                        li.social__item
                            a(href="/").social-button-link.link.button 
                                | INSTAGRAM
                                svg.icon.social-button-link__icon
                                    use(href="./assets/images/icons.svg#angle-arrow")
                        li.social__item
                            a(href="/").social-button-link.link.button 
                                | FACEBOOK
                                svg.icon.social-button-link__icon
                                    use(href="./assets/images/icons.svg#angle-arrow")
                        li.social__item
                            a(href="/").social-button-link.link.button 
                                | LINKEDIN        
                                svg.icon.social-button-link__icon
                                    use(href="./assets/images/icons.svg#angle-arrow")
                .social__info.social-article
                    .social-article__head 
                        .social-article__icon-wrapper
                            svg.icon.social-article__info-icon
                                use(href="./assets/images/icons.svg#info")
                        .social-article__ref.social-ref
                            p.social-ref__title @iconik_event_atelier
                            p.social-ref__text Description here
                        button(type="button" aria-label="Follow socials").button.social-article__btn 
                            span.social-article__btn-text Follow

                    include social-gallery

                    button(type="button" aria-label="Refresh social gallery").button.social-article__refresh-btn
                        svg.icon.social-article__refresh-icon
                            use(href="./assets/images/icons.svg#refresh-arrows")
                        | Load more    




