section 
    .container
        .inner-container
            .social
                .social__meta
                    h2.section-title.social__section-title We are on social media
                    p.social__text 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    ul.social__list
                        li.social__item
                            a.social__link.link.button INSTAGRAM
                        li.social__item
                            a.social__link.link.button FACEBOOK
                        li.social__item
                            a.social__link.link.button LENKEDIN        
                .social__info
