section 
    .container
        .inner-container
            .social
                .social__meta
                    h2.section-title.social__section-title We are on social media
                    p.social__text 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    ul.social__list
                        li.social__item
                            a.social__link.link.button INSTAGRAM
                        li.social__item
                            a.social__link.link.button FACEBOOK
                        li.social__item
                            a.social__link.link.button LENKEDIN        
                .social__info.social-article
                    .social-article__head 
                        .social-article__icon-wrapper
                            svg(width="7" height="30").icon
                                use(href="./assets/images/icons.svg#info")
                        .social-article__ref.social-ref
                            p.social-ref__title @iconik_event_atelier
                            p.social-ref__text Description here
                        button.button.social-article__btn Follow
                    .social-article__gallery 
                    button(type="button").button
                        svg(width="" height="" ).icon
                            use(href="./assets/images/icons.svg#refresh-arrows")
                        | Load more    




