extends ../data/social-image-list.pug 

block social-image-list
    -
        var imageBasePath = "./assets/images/social/";

    .social-article__gallery 
        each item in imageList
            .social-article__item 
                picture.social-article__img
                    source(srcset= imageBasePath + item.mob_1x + " 1x," + imageBasePath + item.mob_2x + " 2x" media="(max-width: 767.98px)" type="image/jpeg")
                    source(srcset= imageBasePath +  item.tab_1x + " 1x," + imageBasePath + item.tab_2x + " 2x" media="(min-width: 768px)" type="image/jpeg")
                    img(width="82" height="82" src= imageBasePath + item.tab_1x alt=item.alt loading="lazy").social-article__img

