.event-card {
    position: relative;
    height: 216px;

    @include mq('tablet') {

        height: 500px;
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 16.8%, #1B1B1B 83%);
        opacity: 0.75;

    }
}

.event-card__img {
    display: block;
    width: 100%;
}

.event-card__title-wrapper {
    padding: 0 18px;
    position: absolute;
    bottom: 16px;
    left: 0;
    z-index: 2;
    height: 48px;
    width: 100%;

    @include mq('tablet') {
        padding: 0;
        bottom: 40px;
        left: 40px;
        width: 450px;
        height: 60px;

    }

}

.event-card__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    color: $primary-text-color;

    @include mq('tablet') {
        font-size: 20px;
        line-height: 1.5;
    }


    // &::after {
    //     display: inline;
    //     content: '...';
    //     // @include mq('mobile-only') {
    //     //     display: inline;
    //     //     content: '...';

    //     // }
    // }


}


.event-card__title>span.trimmed {
    display: inline;

    @include mq('tablet') {
        display: none;
    }
}

.event-card__title>span.non-trimmed {
    display: none;

    @include mq('tablet') {
        display: inline;
    }
}

// .event-card__title>span.non-visible {
//     display: none;
//     // @include mq('tablet') {
//     //     display: inline;
//     // }



// }


.event-card__play-btn {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    z-index: 3;
    // transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid $secondary-background-color;

    @include default-transition(transform);


    &:hover {
        transform: scale(1.05);
    }

    @include mq('tablet') {
        left: calc(50% - 50px);
        top: calc(50% - 50px);
    }
}

.icon.event-card__play-icon {
    width: 12px;
    height: 12px;
    stroke: $secondary-background-color;
    fill: none;

    @include mq('tablet') {
        width: 23px;
        height: 23px;
    }
}