.consultation-btn {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.692;

    // background-color: $accent-color;

    @include mq('laptop') {
        margin-bottom: 0;
        margin-right: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 170px;
        font-size: 13px;
    }

    @include default-transition(background-color);

    // &:hover {
    //     background-color: $accent-hovered-color;
    // }

}