.gallery__container {
    @include mq('mobile-only') {
        padding-left: 0;
        padding-right: 0;

    }
}

.gallery {
    padding-top: 60px;

    @include mq('tablet') {
        padding-top: 180px;
    }
}

.gallery__title {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 64px;
    }
}

.gallery__grid {
    position: relative;
    display: flex;
    // column-gap: 10px;
    justify-content: center;

    height: 782px;
    overflow: hidden;

    @include mq('desktop') {
        height: 1405px;
    }
}

.gallery__col {
    // display: inline-flex;
    display: flex;
    row-gap: 10px;

    flex-direction: column;
    // flex-wrap: wrap;
    // height: 1390px;
    // height: 782px;
    align-content: space-between;


    @include mq('desktop') {
        row-gap: 20px;
        // height: 1405px;
        flex-wrap: wrap;
    }

}

.gallery__col--outside {

    @include mq('desktop') {}
}

.gallery__col--inside {
    align-content: center;
    column-gap: 10px;




    @include mq('desktop') {
        column-gap: 20px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}