.gallery__container {
    @include mq('mobile-only') {
        padding-left: 0;
        padding-right: 0;

    }
}

.gallery {
    padding-top: 60px;

    @include mq('tablet') {
        padding-top: 180px;
    }
}

.gallery__title {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 64px;
    }
}

.gallery__grid {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}