.gallery__container {
    @include mq('mobile-only') {
        padding-left: 0;
        padding-right: 0;

    }
}

.gallery {
    padding-top: 60px;

    @include mq('tablet') {
        padding-top: 100px;
    }

    @include mq('desktop') {
        padding-top: 180px;
    }
}

.gallery__title {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 64px;
    }
}

.gallery__grid {
    position: relative;
    display: flex;
    column-gap: 10px;
    justify-content: center;

    height: 782px;
    overflow: hidden;

    @include mq('tablet') {
        height: 1405px;
    }

    @include mq('desktop') {
        display: block;
        // height: 1405px;
        // column-gap: 0;
    }
}

.gallery__col {
    // display: inline-flex;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    width: 155px;

    flex-direction: column;
    // flex-wrap: wrap;
    // height: 1390px;
    // height: 782px;
    // align-content: space-between;
    align-content: center;

    @include mq('tablet') {
        width: auto;
        flex-wrap: wrap;
        // align-content: center;
        column-gap: 20px;
        row-gap: 20px;
        // width: 27px;
    }

    @include mq('desktop') {
        align-content: space-between;
        column-gap: 20px;
    }

}

.gallery__col--outside {

    @include mq('tablet') {
        // display: none;
    }

    @include mq('laptop') {
        display: none;
    }

    @include mq('desktop') {
        display: flex;
    }
}

.gallery__col--inside {
    // align-content: center;
    // column-gap: 10px;


    @include mq('tablet') {
        display: none;
    }

    @include mq('laptop') {
        display: flex;
    }

    @include mq('desktop') {
        // column-gap: 20px;
        // display: inline-flex;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.gallery__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}