.container--hero {
    height: 100%;
    background-color: transparent;

}



.hero {
    padding-top: 50px;

    @include mq('tablet') {
        padding-top: 100px;
    }
}

.hero__text {
    font-family: 'Al Veshion';
    font-size: 30px;
    line-height: 1.433;
    text-transform: uppercase;
    color: $primary-text-color;

    @include mq('tablet') {
        width: 607px;
        font-size: 60px;

    }
}

.hero__play-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;

    @include mq('tablet') {
        margin-top: 40px;

    }
}

.hero__play-btn {
    color: black;
    background-color: $secondary-background-color;

    &:hover {
        background-color: $accent-color;
    }

    &:hover .icon {
        stroke: $secondary-background-color;
    }
}

.hero__play-icon {
    width: 12px;
    height: 12px;
    stroke: #000000;
    fill: none;

    @include mq('tablet') {
        width: 23px;
        height: 23px;
    }
}

.hero__play-text {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375;


    @include mq('tablet') {
        margin-left: 23px;
        font-size: 20px;
        line-height: 1.5;

    }
}