.hero-wrapper {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 680px;

    background-color: $primary-background-color;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image:
        $hero-top-gradient,
        $hero-mobile-gradient,
        url('../assets/images/hero/hero_320@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            $hero-top-gradient,
            $hero-mobile-gradient,
            url('../assets/images/hero/hero_320@2x.jpg');
    }


    @include mq('mobile') {
        background-image:
            $hero-top-gradient,
            $hero-mobile-gradient,
            url('../assets/images/hero/hero_480@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                $hero-top-gradient,
                $hero-mobile-gradient,
                url('../assets/images/hero/hero_480@2x.jpg');
        }
    }

    @media screen and (min-width: 480px) {
        background-image:
            $hero-top-gradient,
            $hero-desktop-gradient,
            url('../assets/images/hero/hero_1920@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                $hero-top-gradient,
                $hero-desktop-gradient,
                url('../assets/images/hero/hero_1920@2x.jpg');
        }
    }

    @include mq('tablet') {
        height: 940px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

}

.hero-wrapper__audio-btn {
    position: absolute;
    right: 33px;
    bottom: 60px;
}