.play-btn {
    @extend %flex-center;
    width: 50px;
    height: 50px;
    color: black;
    background-color: $secondary-background-color;
    border-radius: 50%;
    @include default-transition(background-color);

    @include mq('tablet') {
        width: 100px;
        height: 100px;
    }

    // &:hover {
    //     background-color: $accent-color;
    // }

    // &:hover .icon {
    //     stroke: $secondary-background-color;
    // }

}