.services-swiper {
    width: 100%;
}

.services-swiper__wrapper {
    column-gap: 10px;

    @include mq('tablet') {
        column-gap: 20px;
    }
}

.swiper-slide.services-swiper__item {
    width: 265px;

    @include mq('tablet') {
        width: 360px;
    }
}