.services-card {}

.services-card__img-wrapper {
    height: 331px;
    margin-bottom: 18px;

    @include mq('tablet') {
        height: 450px;
        margin-bottom: 24px;
    }
}

.services-card__img {
    display: block;
    height: 100%;
}

.services-card__meta {

    @include mq('tablet') {
        padding-left: 31px;
        padding-right: 31px;
    }
}

.services-card__title {
    margin-bottom: 8px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.429;
    color: $primary-text-color;

    @include mq('tablet') {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 1.375;
    }

}

.services-card__footer {
    display: flex;
    align-items: center;
}

.services-card__price {

    font-size: 15px;
    line-height: 1.333;
    color: $primary-text-color;

    @include mq('tablet') {
        font-size: 18px;
    }


}

.services-card__price--right-offset {
    margin-right: 13px;

    @include mq('tablet') {
        margin-right: 10px;
    }
}

.services-card__price--old {
    font-size: 12px;
    text-decoration: line-through;
    color: $secondary-text-color;

    @include mq('tablet') {
        font-size: 15px;
    }
}

.services-card__time {
    margin-left: auto;
    @extend %mobile-font-main-text-2;
    color: $secondary-text-color;

    @include mq('tablet') {
        font-size: 15px;
        line-height: 1.467;
    }
}

.services-card__icon {
    margin-right: 4px;

    width: 9px;
    height: 9px;

    stroke: $accent-color;

    @include mq('tablet') {
        margin-right: 6px;
        width: 12px;
        height: 12px;
    }
}