.article-list {

    &:first-child {
        margin-bottom: 20px;
    }

    @include mq('tablet') {

        &:first-child {
            margin-bottom: 35px;
        }
    }


}

.article-list__item {

    margin-bottom: 24px;

    @include mq('tablet') {

        margin-bottom: 35px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}