.container--membership {
    background-color: $footer-background-color;

    @include mq('desktop') {
        background-repeat: no-repeat;
        background-size: cover;
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 32.53%),
            url('../assets/images/membership/plans-bg@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 32.53%),
                url('../assets/images/membership/plans-bg@2x.jpg');
        }
    }
}

.membership__section-title {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 64px;
    }
}

.membership {
    padding-top: 50px;
    padding-bottom: 50px;

    @include mq('tablet') {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

.membership__list {


    @include mq('tablet') {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }
}

.membership__item {
    @include set-items-margin(bottom, 10px);
    margin-left: auto;
    margin-right: auto;

    // outline: 1px solid tomato;

    max-width: 290px;

    @include mq('tablet') {
        max-width: none;
        margin-left: 0;
        margin-right: 0;

        margin-bottom: 0;
        // flex-basis: 374px;
        flex-basis: calc((100% - 20px) / 2);
        max-width: 359px;
    }

    @include mq('laptop') {
        // max-width: none;
        // flex-basis: 374px;
        min-width: 359px;
        flex-basis: calc((100% - 60px) / 4);
        max-width: 455px;
        // width: 455px;
    }


    @include mq('desktop') {
        max-width: none;
        flex-basis: 455px;
        // width: 455px;
    }
}