.offer-card {
    // padding: 30px 20px 0 20px;
    padding-top: 30px;
    background-color: $primary-background-color;

    @include mq('tablet') {
        // padding: 158px 40px 0 40px;
        padding-top: 158px;
        background-repeat: no-repeat;
        background-image: url("../assets/images/membership/offer-card-header@1x.jpg");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../assets/images/membership/offer-card-header@1x.jpg");
        }
    }

    &--lightmode {
        background-color: $secondary-background-color;
    }
}

.offer-card__articles-wrapper {
    padding: 0 20px 20px;


    @include mq('tablet') {
        padding: 0 40px 40px;
    }


}

.offer-card__title {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-family: 'Al Veshion';
    font-size: 16px;
    line-height: 1.313;
    text-align: center;

    @include mq('tablet') {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 1.333;
    }

    &--lightmode {
        color: $primary-lightmode-text-color
    }
}

.offer-card__view-all-btn {
    padding: 20px 30px;
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 10px;


    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.333;
    color: $secondary-text-color;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @include default-transition(background-color);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    @include mq('tablet') {
        display: none;
    }
}

.offer-card__cta-btn {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;

    font-weight: 700;
    font-size: 13px;
    line-height: 1.385;

    @include mq('tablet') {
        padding-top: 21px;
        padding-bottom: 21px;
        font-size: 16px;
        line-height: 1.375;
    }
}