extends templates/layout.pug

block content 
    .container 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque ducimus impedit facere perspiciatis excepturi odit necessitatibus unde incidunt nemo illum velit, voluptates nihil quidem cumque rem reprehenderit tempore, eaque exercitationem.