extends templates/layout.pug

block content 
    include templates/header

    main
        include templates/hero
        include templates/services/index.pug
        include templates/about
        include templates/membership   
        include templates/gallery 
        include templates/events 
        include templates/contacts
        include templates/social 

    include templates/footer