extends templates/layout.pug

block content 
    include templates/hero-header.pug     

    main
        include templates/services/index.pug
        include templates/features/index.pug
        include templates/membership/index.pug 
        include templates/gallery 
        include templates/events/index.pug
        include templates/contacts/index.pug
        include templates/social 

    include templates/footer