extends templates/layout.pug

block content 
    header.header
        .container header
    main
        section.section
            .container 
                .hero hero
        section.section 
            .container
                .services services
        section.section 
            .container
                .about about
        section.section 
            .container
                .membership membership    
        section.section 
            .container
                .gallery gallery  
        section.section 
            .container
                .events events  
        section.section 
            .container
                .contacts contacts
        section.section 
            .container
                .social social
    footer.footer 
        .container footer