.button {

    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
    border-radius: 0;
    color: $primary-text-color;

    // transition: background-color $default-transition-time $default-transition-function;


    // &--with-hover {

    //     &:hover,
    //     &:focus {
    //         background-color: $default-button-hover-bg-color;
    //     }
    // }

    // &--with-accent-hover {

    //     &:hover,
    //     &:focus {
    //         background-color: #A61035;
    //     }
    // }


}