.button {

    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
    border-radius: 0;
    color: $primary-text-color;


    // &--with-hover {
    //     @include default-transition(background-color);

    //     &:hover,
    //     &:focus {
    //         background-color: $accent-hovered-color;
    //     }
    // }


}