.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

    outline: 3px solid green;

    @include mq('tablet') {
        // max-width: $tablet-viewport-width;
        max-width: none;

        &--short {
            max-width: 1170px;
        }
    }

    @include mq('desktop') {
        max-width: $desktop-viewport-width;
        padding-left: 20px;
        padding-right: 20px;

        &--short {
            max-width: 1170px;
        }

    }



}