.link {
    display: block;
    @include default-transition(color);
    text-decoration: none;
    color: inherit;

    &--hovered {

        &:hover,
        &:focus,
        &:focus-visible {
            color: $accent-color;
        }
    }


}