.swiper-button-prev.swiper__prev,
.swiper-button-next.swiper__next {
    --swiper-navigation-sides-offset: 0;
    z-index: 9999;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.5px solid $primary-text-color;
    @include default-transition(background-color);

    &::after {
        display: none;
    }

    &>.icon {
        stroke: $primary-text-color;
    }
}

.swiper-button-prev.swiper__prev:hover,
.swiper-button-next.swiper__next:hover {
    background-color: $primary-text-color;

    &>.icon {
        stroke: #000000;
    }
}